*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
main {
  width: 100%;
}
.mt-1 {
  margin-top: 5px;
}
.mt-5 {
  margin-top: 20px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-5 {
  margin-bottom: 20px;
}
.pointer {
  cursor: pointer;
}
.btn-block {
  width: 100%;
}
