.position {
  width: 94%;
  position: absolute;
  right: 0;
  margin-top: 5rem;
  background-color: $fondo;
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem;
  }
}
