// Colors

$primary: #007383;
$primary-dark: inset 2px 18px 9px 0px rgba(0, 0, 0, 0.418);
$dark-grey: #454850;
$light-grey: #d8d8d8;
$fondo: #ededed;
$fondo-segundary: #ffffff;
$white: #fcfdff;
$icon: #af444e;
$precio: #f3b85f;
$pagar: #deaf61;
$text: #747776;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
