.btn {
  background-color: transparent;
  border: none;
  color: $white;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color 0.3s ease;

  &:hover {
    color: darken($color: $white, $amount: 10);
  }
  &:focus {
    outline: none;
  }
  &-primary {
    background-color: $primary;
    border-radius: 2px;

    transition: 0.3s ease;

    &:disabled {
      background-color: lighten($color: $primary, $amount: 15);
    }
    &:hover {
      background-color: darken($color: $primary, $amount: 15);
    }
  }
  &-danger {
    background-color: red;
    transition: 0.3s ease;
    &:hover {
      background-color: lighten($color: red, $amount: 10);
    }
  }
}

.google {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

  transition: box-shadow 0.3s ease;
  &__icon {
    align-items: center;
    border-radius: 2px;
    background-color: $white;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100%;
    &-img {
      width: 18px;
      height: 18px;
    }
  }
  &__text {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 80%;
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}
