.forma {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;

    Li {
      width: 26%;
      height: auto;
      cursor: pointer;
    }
    li img {
      width: 50%;
      height: auto;
    }
    Li:nth-last-child(1) img {
      width: 20%;
      height: auto;
      margin-left: 1rem;
    }
  }
  &__pago {
    cursor: pointer;
    background-color: $dark-grey;
    text-transform: uppercase;
    color: $pagar;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
  }
}
