.listContent {
  width: 58%;
}
.nav2 {
  padding: 3rem 0rem;
  height: auto;
  background-color: $fondo-segundary;
  color: $text;
  font-weight: 700;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
  }
  ul li {
    cursor: pointer;
    padding: 1rem 0;
    width: 20%;
    position: relative;
  }
  ul li:nth-child(3) {
    width: 30%;
  }
  ul li:nth-last-child(1) {
    width: 10%;
    font-size: 1.6rem;
    padding: 0.7rem;
    height: auto;
  }
  ul li::before {
    content: "";
    position: absolute;
    background: $precio;
    height: 2px;
    top: 100%;
    left: 0;
    width: 0%;
    transition: width 0.5s ease;
  }
  ul li:nth-child(1)::before {
    width: 100%;
  }
  ul li:hover::before {
    width: 100%;
  }
  ul .ocultar:hover::before ~ ul li:nth-child(1)::before {
    width: 0% !important;
    background: transparent !important;
  }
}

.listproduct {
  display: flex;
  background-color: $fondo-segundary;
  color: $text;
  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
  }
  ul li {
    width: 21%;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  ul li img {
    width: 73%;
  }
  ul li h4 {
    margin-bottom: 0.5rem;
  }
  ul li:nth-last-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li img:nth-last-child(1) {
    width: 30%;
    height: 60px;
  }
}
