.proof {
  display: flex;
  &__navBar {
    background-color: $primary;
    width: 94%;
    position: absolute;
    right: 0;
    padding-top: 1.3rem;
    padding-bottom: 0.6rem;
    box-shadow: $primary-dark;
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      list-style: none;
    }
    ul li:nth-child(1) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 15%;
    }
    ul li:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
    }
    ul li button {
      font-size: 1.4rem;
    }
    ul li p {
      color: $white;
    }
    ul li p span {
      display: block;
      font-size: 0.5rem;
      text-align: -webkit-right;
    }
    ul li img:nth-child(1) {
      width: 33%;
      height: 50px;
    }
    &-cont {
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      -webkit-box-shadow: 1px 1px 10px #484848;
      border-radius: 150px;
      margin-left: 0.5rem;
    }
    &-img2 {
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      border-radius: 150px;
      height: 46px !important;
      width: 56px !important;
    }
    &-cont2 {
      margin-left: 5rem;
      color: $white;
    }
  }
  &__sidebar {
    background-color: $dark-grey;
    box-shadow: $primary-dark;
    color: $white;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 2rem;
    width: 6%;
    min-width: 6%;
    &-navbar {
      font-size: 1.6rem;
    }
  }
}
