.product {
  padding: 4rem 2rem 0rem 2rem;
  height: auto;
  width: 40%;
  background-color: $fondo-segundary;
  table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    margin-bottom: 4rem;
  }
  td,
  th {
    padding: 5px;
    font-size: 1rem;
  }
  th {
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    color: $text;
    padding-bottom: 4rem;
  }

  td {
    margin-left: -0.5rem;
    text-align: center;
    i {
      cursor: pointer;
      color: $icon;
    }
  }
}
.cantidad {
  display: flex;
  justify-content: space-around;
  align-items: center;
  span {
    font-size: 1.6rem;
    color: $dark-grey;
  }
  img {
    cursor: pointer;
    height: auto;
    width: 30%;
  }
}
.totales {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: end;
  p {
    margin-top: 3rem;
    width: 20%;
  }
  p:nth-child(1) {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  p:nth-child(2) {
    color: $precio;
    font-size: 1.4rem;
  }
}
.desVisit {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: $dark-grey;
  font-weight: 600;
  &__cont {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
  }
  span {
    display: block;
  }
}
.codigo {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  color: $dark-grey;
  font-weight: 600;
  span {
    display: block;
  }
}
